img {
	display: block;
	width: 100%;
	height: auto;
}

.gallery {
	padding-bottom: 20px;
	justify-content: center;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 250px;
}

.slider {
	height: 250px;
	margin: 3%;
	position: relative;
	border-radius: 5px;
	border-style: groove;
	border-color: grey;
	box-shadow: 2px 5px 10px grey;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
