body {
	background-color: black;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin-bottom: 100px;
}

.btn {
	background-color: rgba(0, 0, 255, 1);
	color: limegreen;
	padding: 7px 15px;
	text-decoration: none;
	border-radius: 5px;
	border-color: grey;
	border-style: groove;
}

.btn:hover {
	background-color: rgba(0, 0, 255, 0.8);
}

.link li {
	display: inline-block;
	margin-right: 10px;
}

.logo2 {
	cursor: pointer;
	width: 150px;
	height: auto;
	border-radius: 5px;
	border-color: grey;
	border-width: 5px;
	border-style: groove;
	box-shadow: 5px 5px 10px grey;
}

.slide-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
	/*display: none;*/
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
